hr {
    border: 1px solid #2F3E53;
    border-radius: 5px;
    margin: 25px 0px;
}

#interface {
    font-family: 'Karla', sans-serif;
    color: white;
    display: block;
    width: 350px;
    margin: 50px auto;
    padding: 60px 40px;
    border: none;
    border-radius: 15px;
    background: #1F2937;
}

#title {
    font-weight: 800;
    margin-top: 0px;
    line-height: 100%;
}

#random-password-emphasis {
    color: #10B981;
}

#subtitle {
    font-weight: 400;
    margin-bottom: 0px;
}

#settings {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    align-items: center;
}

#length-section, #numbers-section, #symbols-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 235px;
}

#length, #numbers, #symbols {
    margin-top: 0px;
    margin-bottom: 0px;
}

#length-range, #numbers-examples, #symbols-examples {
    font-weight: 200;
    margin-top: 2px;
    margin-bottom: 0px;
    font-size: 12px;
}

#password-length {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 6px;
    background: #10B981;
    border: none;
    border-radius: 5px;
    height: 30px;
    text-align: center;
}

#password-length:hover {
    background: #059669;
    color: white;
}

input[type=checkbox] {
    width: 30px;
    height: 30px;
    accent-color: #10B981;
}

#numbers-checkbox:hover, #symbols-checkbox:hover {
    cursor: pointer;
}

#password-output-section {
    display: flex;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
}

#generate-passwords-btn {
    border: none;
    background: #10B981;
    font-family: 'Karla', sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    /* width: 100%; */
}

#generate-passwords-btn:hover {
    background: #059669;
    color: white;
    cursor: pointer;
}

.password-and-copy-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#password-1, #password-2 {
    color: #55F991;
    padding: 10px 0px;
    text-align: center;
    background: #273549;
    border-radius: 10px;
    height: 21.516px;
    width: 285px;
    font-weight: 300;

    margin-top: 0px;
    margin-bottom: 0px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
    
    background: #273549;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
}

.material-symbols-outlined:hover {
    /* font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24; */

    background: #2B3C53;
    cursor: pointer;
}

.material-symbols-outlined-clicked {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
}